.nav {
  margin-right: -1.5rem
}
.nav__list {
  display: flex;
  align-items: center
}
.nav__list li {
  font-size: 2rem;
  line-height: 1.5
}
.nav__list li:not(:last-child) {
  margin-right: 1rem
}
.nav__link {
  display: inline-block;
  padding: 2.8rem 1.5rem;
  transition: .25s
}
.nav__link:hover {
  background-color: #fc0000;
  color: #fff
}
@media (max-width:48em) {
  .nav {
    margin-right: 0
  }
  .nav__list {
    flex-direction: column;
    align-items: unset
  }
  .nav__list li {
    font-size: 4rem
  }
  .nav__list li:not(:last-child) {
    margin-right: 0
  }
  .nav__link {
    display: block;
    padding: 5.6rem 3rem
  }
}